@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

* {
    /* Reset Style */
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    color: #222;
}

footer {
    padding: 15px;
}

#index-footer {
    padding-top: 10px;
}

.container {
    padding-top: 10px;
}

.padding {
    padding-top: 0.5rem;
}

.padding-index {
    padding-top: 1rem;
}

/** Post title **/

.post-title {
    text-align: center;
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 90px;
    font-size: 35px;
}

.col {
    padding: 1;
}

.slash {
    text-align: left;
    line-height: 90px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #4c4c4c;
    opacity: 0.7;
    padding: 15px;
}


/* Navbar */

navbar {
    padding: 8px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.bg-white {
    background-color: #FFFFFF;
}

/* Carousel */

.carousel-indicators li {
    border-radius: 12px;
    width: 10px;
    height: 10px;
    margin: 6px
}

.carousel-inner img {
    width: 100%;
    height: 700px;
    /* 100% */
}

#slide1 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_flowers.jpg);
    background-position: center center;
    background-size: cover;
}

#slide2 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_mountains.jpg);
    background-position: center center;
    background-size: cover;
}

#slide3 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_Gauja.jpg);
    background-position: center center;
    background-size: cover;
}

#slide4 {
    height: 300px;
    background-image: url(/media/welcomeSlider/slider_stockholm.jpg);
    background-position: center center;
    background-size: cover;
}

/* Social */

.social-div {
    display: grid;
}

.pre-social hr {
    border-top: 1px solid #b4b4b4b4;
    width: 20%;
    margin-left: 40%;
    display: flex;
}

.social a {
    font-size: 30px;
    padding: 15px;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-instagram {
    color: #fb3958;
    /*color: #517fa4;*/
}

.fa-flickr {
    color: #0063dc;
}

.fa-facebook-official:hover,
.fa-instagram:hover,
.fa-flickr:hover {
    color: #d5d5d5;
}

/* List Galleries */

.image-list {
    padding-left: 20%;
    padding-right: 20%;
}

.full-width-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 30px;
}

.full-width-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 30px;
}

.full-width-image:hover {
    opacity: .8;
}


/* Grid Galleries and Lightboxes*/

#galleryWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#galleryWrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

.one-third {
    width: 29%;
    float: left;
    margin: 2%;
}

.one-third-block {
    width: 29%;
    float: left;
    margin: 2%;
}


#galleryWrapper img:hover {
    opacity: .8;
}

/* Post Grid */

.xop-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6% 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.xop-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.xop-grid:after {
    clear: both;
}

.xop-grid:after,
.xop-box:before {
    content: '';
    display: table;
}

.xop-grid li {
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.xop-grid li {
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
    padding: 1%;
}

.xop-box {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.xop-box:hover {
    opacity: 0.5;
}

.xop-info {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.xop-info:hover {
    opacity: 1;
}

.xop-info h3 {
    font-weight: 400;
    color: black;
    font-size: 25px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 3;
}

.xop-info p {
    color: black;
    padding: 4px 5px;
    margin: 0 30px;
    font-size: 14px;
    line-height: 1;
}

.bimg-cover {
    background-size: cover;
}

.xop-img-1 {
    background-image: url("http://via.placeholder.com/300x300");
}

.xop-img-2 {
    background-image: url("http://via.placeholder.com/300x300");
}

.xop-img-3 {
    background-image: url("http://via.placeholder.com/300x300");
}

.xop-img-4 {
    background-image: url("http://via.placeholder.com/300x300");
}

/* Media Queries */

@media (max-width: 600px) {
    /* Small - Landscape Phones*/
    #slide1 {
        height: 300px;
    }

    #slide2 {
        height: 300px;
    }

    #slide3 {
        height: 300px;
    }

    #slide4 {
        height: 300px;
    }

    .one-third {
        width: 98%;
        margin: 1%;
    }

    .image-list {
        padding-left: 5%;
        padding-right: 5%;
    }

    .xop-grid {
        text-align: center;
    }

    .post-title {
        font-size: 30px;
    }

    .post-year {
        font-size: 30px;
    }
  
}

@media (min-width: 600px) {
    /* Medium - Tablets */
    #slide1 {
        height: 500px;
    }

    #slide2 {
        height: 500px;
    }

    #slide3 {
        height: 500px;
    }

    #slide4 {
        height: 500px;
    }

    .one-third {
        width: 48%;
        margin: 1%;
    }

    .image-list {
        padding-left: 10%;
        padding-right: 10%;
    }

    .xop-grid {
        text-align: center;
    }
}

@media (min-width: 992px) {
    /* Large - Desktops*/
    #slide1 {
        height: 700px;
    }

    #slide2 {
        height: 700px;
    }

    #slide3 {
        height: 700px;
    }

    #slide4 {
        height: 700px;
    }

    .one-third {
        width: 29%;
        float: left;
        margin: 2%;
    }

    .image-list {
        padding-left: 20%;
        padding-right: 20%;
    }


}

@media (min-width: 1200px) {
    /* Extra - Large Desktops*/
    
    #slide1 {
        height: 750px;
    }

    #slide2 {
        height: 750px;
    }

    #slide3 {
        height: 750px;
    }

    #slide4 {
        height: 750px;
    }
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
