@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    color: #222;
}

footer {
    padding: 20px;
}

/* Navbar */

navbar {
    padding: 8px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.bg-white {
    background-color: #FFFFFF;
}

/* Carousel */

.carousel-indicators li {
    border-radius: 12px;
    width: 10px;
    height: 10px
}

.carousel-inner img {
    width: 100%;
    height: 700px;
    /* 100% */
}

#slide1 {
    height: 750px;
    background-image: url(/media/welcomeSlider/slider_02_1900x780.jpg);
    background-position: center center;
    background-size: cover;
}

#slide2 {
    height: 750px;
    background-image: url(/media/welcomeSlider/slider_02_1900x780.jpg);
    background-position: center center;
    background-size: cover;
}

#slide3 {
    height: 750px;
    background-image: url(/media/welcomeSlider/slider_02_1900x780.jpg);
    background-position: center center;
    background-size: cover;
}


/* Social */

.social {
    padding-top: 20px;
}

.social a {
    font-size: 30px;
    padding: 15px;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-instagram {
    color: #fb3958;
    /*color: #517fa4;*/
}

.fa-flickr {
    color: #0063dc;
}

.fa-facebook-official:hover,
.fa-instagram:hover,
.fa-flickr:hover {
    color: #d5d5d5;
}

/* Media Queries */

@media (max-width: 576px) {
    
    #slide1 {
        height: 300px;
    }

    #slide2 {
        height: 300px;
    }

    #slide3 {
        height: 300px;
    }
    
}

@media (min-width: 576px) {
    /* Small - Landscape Phones*/
    
    #slide1 {
        height: 500px;
    }

    #slide2 {
        height: 500px;
    }

    #slide3 {
        height: 500px;
    }
}

@media (min-width: 768px) {
    /* Medium - Tablets */

}

@media (min-width: 992px) {
    /* Large - Desktops*/
    
    #slide1 {
        height: 750px;
    }
    
    #slide2 {
        height: 750px;
    }
    
    #slide3 {
        height: 750px;
    }
}

@media (min-width: 1200px) {
    /* Extra - Large Desktops*/
    
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
